## Introduction to Data Science | 4022 | Dr. Bahrak & Dr. Yaghoobzadeh
## CA3
***
### Amirreza Akbari | 810899045
### Reza Baghestani | 810899046
### Hananeh Jamali | 810899053
***
### 1402/01/29

## Install & Import Libraries

In [111]:
import importlib.util

# Check if PySpark is installed
if importlib.util.find_spec("pyspark") is None:
    # Install PySpark
    !pip install pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import year, month
from pyspark.sql.functions import mean, stddev
from pyspark.sql.functions import to_date
from pyspark.sql.functions import min, max, median, avg, format_number
from pyspark.sql.functions import col, when
from pyspark.sql.functions import split, explode

For better visualization of dataframes in jupyter notebooks, since they are rendered to html

In [112]:
from IPython.display import display, HTML
display(HTML('<style>pre { white-space: pre !important; }</style>'))

## Warm-Up

In [113]:
print("\n--------------------------------------------------------     STEP 1     --------------------------------------------------------")
# Step 1: Read the CSV file

# Create a SparkSession
spark = SparkSession.builder \
    .appName("Stocks Analysis") \
    .getOrCreate()

# Read the CSV file into a DataFrame
df = spark.read.csv("stocks.csv", header=True, inferSchema=True)

print("CSV file reading done!")

print("\n--------------------------------------------------------     STEP 2     --------------------------------------------------------")
# Step 2: Find out about the schema of data

print("The schema of data:\n")
df.printSchema()
print("\nnumber of dataframe rows:", df.count())

print("\n--------------------------------------------------------     STEP 3     --------------------------------------------------------")
# Step 3: Select records with closing price less than 500

less_than_500_df = df.filter(df['Close'] < 500).select('Open', 'Close', 'Volume')
print("Records with closing price less than 500:\n")
less_than_500_df.show()
print("number of records:", less_than_500_df.count())

print("\n--------------------------------------------------------     STEP 4     --------------------------------------------------------")
# Step 4: Find out records with opening price more than 200 and closing price less than 200

more_than_200_less_than_200_df = df.filter((df['Open'] > 200) & (df['Close'] < 200))
print("Records with opening price more than 200 and closing price less than 200:\n")
more_than_200_less_than_200_df.show()
print("number of records:", more_than_200_less_than_200_df.count())

print("\n--------------------------------------------------------     STEP 5     --------------------------------------------------------")
# Step 5: Extract the year from the date and save it in a new column

df_with_year = df.withColumn('Year', year(df['Date']))
print("The dataframe with the new row \"Year\":\n")
df_with_year.show()

print("\n--------------------------------------------------------     STEP 6     --------------------------------------------------------")
# Step 6: For each year, show the minimum volumes traded

min_volume_by_year = df_with_year.groupBy('Year').min('Volume').withColumnRenamed('min(Volume)', 'minVolume')
print("Minimum volumes traded for each year:\n")
min_volume_by_year.show()

print("\n--------------------------------------------------------     STEP 7     --------------------------------------------------------")
# Step 7: For each year and month, show the highest low price

df_with_year_month = df.withColumn('Year', year(df['Date'])).withColumn('Month', month(df['Date']))
max_low_price_by_year_month = df_with_year_month.groupBy('Year', 'Month').agg(max('Low').alias('maxLow'))
print("Highest \"Low Price\" for each year and month:\n")
max_low_price_by_year_month.show()
print("\nnumber of rows:", max_low_price_by_year_month.count())

print("\n--------------------------------------------------------     STEP 8     --------------------------------------------------------")
# Step 8: Calculate mean and standard deviation of high price over the whole data frame

mean_high_price = df.select(mean('High')).collect()[0][0]
stddev_high_price = df.select(stddev('High')).collect()[0][0]
print("Mean High Price:", round(mean_high_price, 2))
print("Standard Deviation of High Price:", round(stddev_high_price, 2))

# Stop the SparkSession
spark.stop()

--------------------------------------------------------     STEP 1     --------------------------------------------------------
CSV file reading done!

--------------------------------------------------------     STEP 2     --------------------------------------------------------
The schema of data:

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)


number of dataframe rows: 1762

--------------------------------------------------------     STEP 3     --------------------------------------------------------
Records with closing price less than 500:

+------------------+------------------+---------+
|              Open|             Close|   Volume|
+------------------+------------------+---------+
|        213.429998|        214.009998|123432400|
|        214.599998|        214.379993|150476200|
|        214.379993|        210.969995|138040000|
|            211.75|            210.58|119282800|
|        210.299994|211.98000499999998|111902700|
|212.79999700000002|210.11000299999998|115557400|
|209.18999499999998|        207.720001|148614900|
|        207.870005|        210.650002|151473000|
|210.11000299999998|            209.43|108223500|
|210.92999500000002|            205.93|148516900|
|        208.330002|        215.039995|182501900|
|        214.910006|            211.73|153038200|
|        212.079994|        208.069996|152038600|
|206.78000600000001|            197.75|220441900|
|202.51000200000001|        203.070002|266424900|
|205.95000100000001|        205.940001|466777500|
|        206.849995|        207.880005|430642100|
|        204.930004|        199.289995|293375600|
|        201.079996|        192.060003|311488100|
|192.36999699999998|        194.729998|187469100|
+------------------+------------------+---------+
only showing top 20 rows

number of records: 1359

--------------------------------------------------------     STEP 4     --------------------------------------------------------
Records with opening price more than 200 and closing price less than 200:

+----------+------------------+----------+----------+----------+---------+------------------+
|      Date|              Open|      High|       Low|     Close|   Volume|         Adj Close|
+----------+------------------+----------+----------+----------+---------+------------------+
|2010-01-22|206.78000600000001|207.499996|    197.16|    197.75|220441900|         25.620401|
|2010-01-28|        204.930004|205.500004|198.699995|199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|202.199995|190.250002|192.060003|311488100|         24.883208|
+----------+------------------+----------+----------+----------+---------+------------------+
number of records: 3

--------------------------------------------------------     STEP 5     --------------------------------------------------------
The dataframe with the new row "Year":

+----------+------------------+------------------+------------------+------------------+---------+------------------+----+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|Year|
+----------+------------------+------------------+------------------+------------------+---------+------------------+----+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|2010|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|2010|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|2010|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|2010|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|2010|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|2010|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|2010|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|2010|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|2010|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|2010|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|2010|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|2010|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|2010|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|2010|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|2010|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|2010|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|2010|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|2010|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|2010|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|2010|
+----------+------------------+------------------+------------------+------------------+---------+------------------+----+
only showing top 20 rows


--------------------------------------------------------     STEP 6     --------------------------------------------------------
Minimum volumes traded for each year:

+----+---------+
|Year|minVolume|
+----+---------+
|2015| 13046400|
|2013| 41888700|
|2014| 14479600|
|2012| 43938300|
|2016| 11475900|
|2010| 39373600|
|2011| 44915500|
+----+---------+


--------------------------------------------------------     STEP 7     --------------------------------------------------------
Highest "Low Price" for each year and month:
+----+-----+------------------+
|Year|Month|            maxLow|
+----+-----+------------------+
|2012|   10|        665.550026|
|2010|    7|        260.300003|
|2010|   12|        325.099991|
|2015|    2|        131.169998|
|2014|    4|        589.799988|
|2015|   12|        117.809998|
|2016|    7|            103.68|
|2016|   11|        111.400002|
|2012|    8| 673.5400089999999|
|2013|    2|473.24997699999994|
|2012|    4| 626.0000150000001|
|2012|   12|        585.500023|
|2014|   10|        107.209999|
|2016|    5|             99.25|
|2014|   12|        115.290001|
|2013|    9|        503.479988|
|2013|   10|        525.110016|
|2014|    5|        628.900002|
|2016|    2|         96.650002|
|2013|   12| 566.4100269999999|
+----+-----+------------------+
only showing top 20 rows


number of rows: 84

--------------------------------------------------------     STEP 8     --------------------------------------------------------
Mean High Price: 315.91
Standard Deviation of High Price: 186.9

## Main Task

In [115]:
print("\n--------------------------------------------------------     STEP 1     --------------------------------------------------------")
# Step 1: Check the Schema

# Create a SparkSession
spark = SparkSession.builder \
    .appName("Spotify Analysis") \
    .getOrCreate()

# Read the parquet file into a DataFrame
df = spark.read.parquet("spotify.parquet")

# Print the schema
df.printSchema()

print("\n--------------------------------------------------------     STEP 2     --------------------------------------------------------")
# Step 2: Preprocess Columns

# Convert 'release_date' to date type
df = df.withColumn('release_date', to_date(df['release_date']))
column_data_type = df.schema['release_date'].dataType
print("Data type of column '{}': {}".format('release_date', column_data_type))

print("\n--------------------------------------------------------     STEP 3     --------------------------------------------------------")
# Step 3: Aggregation, Filtering, and Transformation

# Aggregate statistics for danceability and energy features by year
aggregate_statistics = df.groupBy('year').agg(
    format_number(min('danceability'), 4).alias('min_danceability'),
    format_number(max('danceability'), 4).alias('max_danceability'),
    format_number(median('danceability'), 4).alias('median_danceability'),
    format_number(avg('danceability'), 4).alias('avg_danceability'),
    format_number(min('energy'), 4).alias('min_energy'),
    format_number(max('energy'), 4).alias('max_energy'),
    format_number(median('energy'), 4).alias('median_energy'),
    format_number(avg('energy'), 4).alias('avg_energy'),
    format_number(avg('duration_ms'), 4).alias('avg_duration_ms')
)
print("\nAverage Characteristics of Songs Per Year:")
aggregate_statistics.show()

# Filter the dataset to exclude the songs with explicit content
non_explicit_songs = df.select('name', 'album', 'artists', 'duration_ms', 'release_date').filter(df['explicit'] == False)
print("\ndataset excluding explicit songs:")
non_explicit_songs.show()

# Convert duration from milliseconds to minutes
df_added = df.select('name', 'album', 'artists', 'duration_ms', 'release_date').withColumn('song_length_minutes', format_number(col('duration_ms') / 60000, 4))

# Create a new binary feature 'long_song' indicating whether the song duration is above a certain threshold (e.g., 15 minutes).
threshold = 15 * 60 * 1000  # 5 minutes in milliseconds
df_added = df_added.withColumn('long_song', when(df['duration_ms'] > threshold, 1).otherwise(0))

print("\ndataset with added \'song_length_minutes\' and \'long_song\' columns:")
df_added.show()

# Count the number of long songs in the dataset
count_ones = df_added.filter(col('long_song') == 1).count()
print("\nNumber of 1 values in the 'long_song' column:", count_ones)

print("\n--------------------------------------------------------     STEP 4     --------------------------------------------------------")
# Step 4: Dealing with Array Columns

# For example, if we want to explode the 'artists' array to get each artist in a separate row
# Split the 'artists' string by comma and create an array
df_with_array = df.withColumn('artists_array', split(df['artists'], ', '))

# Explode the array to get each artist in a separate row
df_exploded = df_with_array.withColumn('artist', explode(df_with_array['artists_array']))

# Drop the intermediate 'artists_array' column
df_exploded = df_exploded.drop('artists_array')

# Show the resulting DataFrame
print("\nExploded DataFrame with Each Artist in a Separate Row:")
df_exploded = df_exploded.select('name', 'album', 'artist', 'duration_ms', 'release_date')
df_exploded.show()

print("\n--------------------------------------------------------     STEP 5     --------------------------------------------------------")
# Step 5: Top-K Records

# For example, let's find the top 10 songs based on valence
top_songs = df.select('name', 'album', 'artists', 'duration_ms', 'release_date').orderBy(df['valence'].desc()).limit(10)
print("\nTop 10 Songs based on Valence:")
top_songs.show()

# Stop the SparkSession
spark.stop()

--------------------------------------------------------     STEP 1     --------------------------------------------------------
root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- album: string (nullable = true)
 |-- album_id: string (nullable = true)
 |-- artists: string (nullable = true)
 |-- artist_ids: string (nullable = true)
 |-- track_number: long (nullable = true)
 |-- disc_number: long (nullable = true)
 |-- explicit: boolean (nullable = true)
 |-- danceability: double (nullable = true)
 |-- energy: double (nullable = true)
 |-- key: long (nullable = true)
 |-- loudness: double (nullable = true)
 |-- mode: long (nullable = true)
 |-- speechiness: double (nullable = true)
 |-- acousticness: double (nullable = true)
 |-- instrumentalness: double (nullable = true)
 |-- liveness: double (nullable = true)
 |-- valence: double (nullable = true)
 |-- tempo: double (nullable = true)
 |-- duration_ms: long (nullable = true)
 |-- time_signature: double (nullable = true)
 |-- year: long (nullable = true)
 |-- release_date: string (nullable = true)


--------------------------------------------------------     STEP 2     --------------------------------------------------------
Data type of column 'release_date': DateType()

--------------------------------------------------------     STEP 3     --------------------------------------------------------

Average Characteristics of Songs Per Year:
+----+----------------+----------------+-------------------+----------------+----------+----------+-------------+----------+---------------+
|year|min_danceability|max_danceability|median_danceability|avg_danceability|min_energy|max_energy|median_energy|avg_energy|avg_duration_ms|
+----+----------------+----------------+-------------------+----------------+----------+----------+-------------+----------+---------------+
|1950|          0.0650|          0.7820|             0.3540|          0.3613|    0.0015|    0.9620|       0.1640|    0.2412|   228,289.9317|
|1936|          0.3440|          0.8340|             0.6580|          0.6403|    0.0463|    0.7390|       0.2120|    0.2470|   164,607.3012|
|1951|          0.1350|          0.8260|             0.5230|          0.5097|    0.0108|    0.8630|       0.2940|    0.3305|   193,564.6571|
|1958|          0.0000|          0.8960|             0.4300|          0.4269|    0.0020|    0.9810|       0.3020|    0.3362|   207,774.4397|
|   0|          0.6570|          0.9570|             0.7605|          0.7655|    0.1040|    0.7200|       0.5475|    0.5016|   167,336.4000|
|1983|          0.0000|          0.9870|             0.5440|          0.5261|    0.0017|    0.9980|       0.6180|    0.5687|   247,331.9686|
|1972|          0.0000|          0.9210|             0.4790|          0.4711|    0.0006|    0.9880|       0.4315|    0.4414|   263,922.1146|
|2007|          0.0000|          0.9940|             0.4990|          0.4932|    0.0000|    1.0000|       0.5210|    0.5120|   247,879.9769|
|1979|          0.0574|          0.9560|             0.5290|          0.5134|    0.0016|    0.9970|       0.5215|    0.5052|   253,367.2550|
|1988|          0.0000|          0.9450|             0.4300|          0.4408|    0.0000|    1.0000|       0.3450|    0.4131|   262,583.3386|
|2014|          0.0000|          0.9860|             0.4970|          0.4865|    0.0000|    1.0000|       0.5590|    0.5357|   259,282.5934|
|1986|          0.0000|          0.9620|             0.4850|          0.4772|    0.0001|    0.9990|       0.5020|    0.4950|   259,622.7110|
|1908|          0.4320|          0.7550|             0.6280|          0.6041|    0.0712|    0.8100|       0.4920|    0.4737|   226,203.4737|
|1949|          0.1120|          0.8890|             0.3570|          0.4038|    0.0137|    0.7930|       0.2510|    0.2653|   186,792.3793|
|1969|          0.0000|          0.8990|             0.4630|          0.4574|    0.0010|    0.9970|       0.4310|    0.4321|   230,629.1010|
|1930|          0.1590|          0.8230|             0.5940|          0.5812|    0.1160|    0.7790|       0.3630|    0.3505|   209,904.8305|
|1967|          0.0000|          0.8490|             0.4840|          0.4703|    0.0026|    0.9500|       0.3895|    0.3957|   220,114.6943|
|1964|          0.0000|          0.8000|             0.3960|          0.3953|    0.0032|    0.9950|       0.2680|    0.3150|   258,597.4102|
|1956|          0.0000|          0.8900|             0.4740|          0.4564|    0.0058|    0.9950|       0.2995|    0.3496|   239,359.3209|
|1937|          0.4900|          0.8230|             0.6680|          0.6566|    0.0643|    0.6050|       0.3135|    0.3107|   159,192.7000|
+----+----------------+----------------+-------------------+----------------+----------+----------+-------------+----------+---------------+
only showing top 20 rows


dataset excluding explicit songs:
+--------------------+--------------------+--------------------+-----------+------------+
|                name|               album|             artists|duration_ms|release_date|
+--------------------+--------------------+--------------------+-----------+------------+
|             Testify|The Battle Of Los...|['Rage Against Th...|     210133|  1999-11-02|
|    Calm Like a Bomb|The Battle Of Los...|['Rage Against Th...|     298893|  1999-11-02|
|Sleep Now In the ...|The Battle Of Los...|['Rage Against Th...|     205600|  1999-11-02|
|Born of a Broken Man|The Battle Of Los...|['Rage Against Th...|     280960|  1999-11-02|
|      Born As Ghosts|The Battle Of Los...|['Rage Against Th...|     202040|  1999-11-02|
|               Maria|The Battle Of Los...|['Rage Against Th...|     228093|  1999-11-02|
|Voice of the Voic...|The Battle Of Los...|['Rage Against Th...|     151573|  1999-11-02|
|New Millennium Homes|The Battle Of Los...|['Rage Against Th...|     224933|  1999-11-02|
| War Within a Breath|The Battle Of Los...|['Rage Against Th...|     216427|  1999-11-02|
|  Settle for Nothing|Rage Against The ...|['Rage Against Th...|     287333|  1992-11-03|
|             Wake Up|Rage Against The ...|['Rage Against Th...|     364133|  1992-11-03|
|    Fistful of Steel|Rage Against The ...|['Rage Against Th...|     331107|  1992-11-03|
|             Freedom|Rage Against The ...|['Rage Against Th...|     366267|  1992-11-03|
|    Man on a Mission|      Do It for Love|['Daryl Hall & Jo...|     224307|  2018-04-10|
|      Do It for Love|      Do It for Love|['Daryl Hall & Jo...|     238000|  2018-04-10|
|  Someday We'll Know|      Do It for Love|['Daryl Hall & Jo...|     268013|  2018-04-10|
|     Forever for You|      Do It for Love|['Daryl Hall & Jo...|     277813|  2018-04-10|
|    Life's Too Short|      Do It for Love|['Daryl Hall & Jo...|     209960|  2018-04-10|
|         Getaway Car|      Do It for Love|['Daryl Hall & Jo...|     229253|  2018-04-10|
|       Make You Stay|      Do It for Love|['Daryl Hall & Jo...|     221174|  2018-04-10|
+--------------------+--------------------+--------------------+-----------+------------+
only showing top 20 rows


dataset with added 'song_length_minutes' and 'long_song' columns:
+--------------------+--------------------+--------------------+-----------+------------+-------------------+---------+
|                name|               album|             artists|duration_ms|release_date|song_length_minutes|long_song|
+--------------------+--------------------+--------------------+-----------+------------+-------------------+---------+
|             Testify|The Battle Of Los...|['Rage Against Th...|     210133|  1999-11-02|             3.5022|        0|
|     Guerrilla Radio|The Battle Of Los...|['Rage Against Th...|     206200|  1999-11-02|             3.4367|        0|
|    Calm Like a Bomb|The Battle Of Los...|['Rage Against Th...|     298893|  1999-11-02|             4.9816|        0|
|           Mic Check|The Battle Of Los...|['Rage Against Th...|     213640|  1999-11-02|             3.5607|        0|
|Sleep Now In the ...|The Battle Of Los...|['Rage Against Th...|     205600|  1999-11-02|             3.4267|        0|
|Born of a Broken Man|The Battle Of Los...|['Rage Against Th...|     280960|  1999-11-02|             4.6827|        0|
|      Born As Ghosts|The Battle Of Los...|['Rage Against Th...|     202040|  1999-11-02|             3.3673|        0|
|               Maria|The Battle Of Los...|['Rage Against Th...|     228093|  1999-11-02|             3.8016|        0|
|Voice of the Voic...|The Battle Of Los...|['Rage Against Th...|     151573|  1999-11-02|             2.5262|        0|
|New Millennium Homes|The Battle Of Los...|['Rage Against Th...|     224933|  1999-11-02|             3.7489|        0|
|   Ashes In the Fall|The Battle Of Los...|['Rage Against Th...|     277267|  1999-11-02|             4.6211|        0|
| War Within a Breath|The Battle Of Los...|['Rage Against Th...|     216427|  1999-11-02|             3.6071|        0|
|           Bombtrack|Rage Against The ...|['Rage Against Th...|     243760|  1992-11-03|             4.0627|        0|
| Killing In the Name|Rage Against The ...|['Rage Against Th...|     313667|  1992-11-03|             5.2278|        0|
| Take the Power Back|Rage Against The ...|['Rage Against Th...|     335840|  1992-11-03|             5.5973|        0|
|  Settle for Nothing|Rage Against The ...|['Rage Against Th...|     287333|  1992-11-03|             4.7889|        0|
|  Bullet In the Head|Rage Against The ...|['Rage Against Th...|     307067|  1992-11-03|             5.1178|        0|
|     Know Your Enemy|Rage Against The ...|['Rage Against Th...|     294693|  1992-11-03|             4.9116|        0|
|             Wake Up|Rage Against The ...|['Rage Against Th...|     364133|  1992-11-03|             6.0689|        0|
|    Fistful of Steel|Rage Against The ...|['Rage Against Th...|     331107|  1992-11-03|             5.5184|        0|
+--------------------+--------------------+--------------------+-----------+------------+-------------------+---------+
only showing top 20 rows

Number of 1 values in the 'long_song' column: 7992

--------------------------------------------------------     STEP 4     --------------------------------------------------------

Exploded DataFrame with Each Artist in a Separate Row:
+--------------------+--------------------+--------------------+-----------+------------+
|                name|               album|              artist|duration_ms|release_date|
+--------------------+--------------------+--------------------+-----------+------------+
|             Testify|The Battle Of Los...|['Rage Against Th...|     210133|  1999-11-02|
|     Guerrilla Radio|The Battle Of Los...|['Rage Against Th...|     206200|  1999-11-02|
|    Calm Like a Bomb|The Battle Of Los...|['Rage Against Th...|     298893|  1999-11-02|
|           Mic Check|The Battle Of Los...|['Rage Against Th...|     213640|  1999-11-02|
|Sleep Now In the ...|The Battle Of Los...|['Rage Against Th...|     205600|  1999-11-02|
|Born of a Broken Man|The Battle Of Los...|['Rage Against Th...|     280960|  1999-11-02|
|      Born As Ghosts|The Battle Of Los...|['Rage Against Th...|     202040|  1999-11-02|
|               Maria|The Battle Of Los...|['Rage Against Th...|     228093|  1999-11-02|
|Voice of the Voic...|The Battle Of Los...|['Rage Against Th...|     151573|  1999-11-02|
|New Millennium Homes|The Battle Of Los...|['Rage Against Th...|     224933|  1999-11-02|
|   Ashes In the Fall|The Battle Of Los...|['Rage Against Th...|     277267|  1999-11-02|
| War Within a Breath|The Battle Of Los...|['Rage Against Th...|     216427|  1999-11-02|
|           Bombtrack|Rage Against The ...|['Rage Against Th...|     243760|  1992-11-03|
| Killing In the Name|Rage Against The ...|['Rage Against Th...|     313667|  1992-11-03|
| Take the Power Back|Rage Against The ...|['Rage Against Th...|     335840|  1992-11-03|
|  Settle for Nothing|Rage Against The ...|['Rage Against Th...|     287333|  1992-11-03|
|  Bullet In the Head|Rage Against The ...|['Rage Against Th...|     307067|  1992-11-03|
|     Know Your Enemy|Rage Against The ...|['Rage Against Th...|     294693|  1992-11-03|
|             Wake Up|Rage Against The ...|['Rage Against Th...|     364133|  1992-11-03|
|    Fistful of Steel|Rage Against The ...|['Rage Against Th...|     331107|  1992-11-03|
+--------------------+--------------------+--------------------+-----------+------------+
only showing top 20 rows


--------------------------------------------------------     STEP 5     --------------------------------------------------------

Top 10 Songs based on Valence:
+--------------------+--------------------+--------------------+-----------+------------+
|                name|               album|             artists|duration_ms|release_date|
+--------------------+--------------------+--------------------+-----------+------------+
| Clean Shirt Reprise|      The Third Rail|   ['Railroad Jerk']|      33733|  1996-10-08|
|         Dain's Mill|The Dark Peak and...|     ['Bella Hardy']|      69773|  2012-05-06|
|               Genie|History: Mission ...|  ['The Gravel Pit']|      25867|  1997-01-01|
|           Crag Lake|          Buck Fever|   ['Estradasphere']|      48147|  2001-01-01|
|       In This World|            Shine On|             ['Lea']|     379173|  2005-08-11|
|         Breakbeat 4|Best Of Neverendi...|        ['Dj Swamp']|      32000|  2005-08-18|
|Give Thanks in Al...|Sing the Word Fro...|['The Harrow Fami...|      61373|  2001-12-04|
|Let It Snoki Doki...|         8-Bit Jesus|  ['Doctor Octoroc']|      66960|  2008-12-20|
|   Itsy Bitsy Spider|Rhymin' to the Be...|   ['Jack Hartmann']|     100000|  1996-01-01|
|The Drunken Landlady|    The Family Album|   ['The McCarthys']|      79960|  2010-05-08|
+--------------------+--------------------+--------------------+-----------+------------+